body {
  background-color: rgb(255, 236, 253);
  padding: 0px;
  margin: 0px;
}

::selection {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: aqua;
}

.container {
  align-items: center;
  text-align: center;

  background-image: url("C:\\Users\\mijau\\OneDrive\\Desktop\\PNG_PDF_Converter\\my-electron-app\\assets\\flower_bg.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  padding: 10px;
  padding-bottom: 10%;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 90%,
    30% 90%,
    25% 100%,
    20% 90%,
    0% 90%
  );

  transform: translateY(0px);
  transition:
    box-shadow 0.3s ease-out,
    transform 0.3s ease-out;
}
.container:hover {
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);

  transform: translateY(-5px);
}

.container > div {
  align-items: left;
  text-align: left;

  width: 50%;
  margin-left: 5%;
}

.container > div > h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 32px;
}

.container > div > p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
}
